* {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
img {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #8b8b8b;
}
/* /Common CSS End/ */

.header_part{
    background: url('../images/travelly-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 960px;
    margin: 0 auto;
}
.header_part .main_menu{
    padding: 30px 0px;
}
.header_part .header_content{
    padding: 5px 0px 5px;
}
.mycontetclass{
    margin: 0 auto;
    text-align: center;
}
.header_content h1{
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 27px;
    text-align: center;
}
.header_content p{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}
.input-group {
    width: 100px;
    margin: 0 auto;
    height: 40px;
}
.input-group input{
    font-size: 16px;
    border: 1px solid #fff;
}
.input-group a{
  text-decoration: none;  
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #fd4f32;
border: none;
    border-radius: .25rem;
    width: 120px;
    justify-content: center;
    height: 38px;
}
.input-group-text:hover{
 background-color: #0A3EE6; 
 color: #FEFEFE;

}

.cc{
    margin-top: 100px !important;
}

/* /Header End/ */